<footer>
  <div class="container">
    <div class="clr-row">
      <div class="clr-col-4">
        <span>Copyright &copy; 2020 Open-Mech-Eng</span>
      </div>
      <div class="clr-col-4">
        <div>
          Dojo icon made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
