<div class="content-container">
  <div class="content-area">
    <p>Content Area</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio
      nisi. Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor
      mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at,
      tincidunt elementum magna. Phasellus tristique posuere dui, ut tempus
      felis sagittis quis. Integer iaculis ultrices elit, sed venenatis eros.
      Vivamus interdum semper velit eget gravida. Sed finibus eget lacus sed
      semper. Suspendisse fringilla, tellus in molestie cursus, sapien purus
      volutpat lacus, eget venenatis erat est vitae libero. Aliquam et orci
      hendrerit, consequat purus non, imperdiet ipsum.
    </p>
  </div>
  <clr-vertical-nav [clrVerticalNavCollapsible]="true">
    <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
      Normal
    </a>
    <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
      Electric
    </a>
    <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
      Poison
    </a>
    <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
      Grass
    </a>
    <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
      Fighting
    </a>
    <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
      Credit
    </a>
  </clr-vertical-nav>
</div>
